@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');

.body {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
.my-nav {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  width: 100vw;
}

.name-section {
  width: 100vw;
  height: 100vh;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 3vh;
  padding-right: 3vh;
}

.name {
  font-size: 3rem;
  margin-bottom: 20vh;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}


/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-color: #ff7878;
  background-image: linear-gradient(315deg, #ff7878 0%, #ff0000 74%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 1.5rem;
}

.button-29:focus {
  box-shadow: #FF0000 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #FF0000 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #FF0000 0 -3px 0 inset;
  transform: translateY(-2px);
  color: black;
}

.button-29:active {
  box-shadow: #FF0000 0 3px 7px inset;
  transform: translateY(2px);
}


.about-me {
  height: 90vh;
  width: 100vw;
  background: linear-gradient(to right, #4dc0b5, #6decb9);
}

.footer-section {
  background: linear-gradient(to right, #aedcf2, #c6e2f5);
  height: 10vh;
  width: 100vw;
  padding-left: 5vh;
  padding-top: 3vh;
}

.phone {
  color: #12d151;
}

.linkedin {
  color: #0077b5;
}

.github {
  color: #6e5494;
}
/* Hover effect */
i:hover {
  color: #000080; /* Almost black with 80% opacity */
}

.about-me-heading {
  font-family: 'Playpen Sans', cursive;
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 10vh;
}

.about-me-text {
  font-size: 1.5rem;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 500;
  color: white;
}

@media screen and (max-width: 767px) {
  .button29 {
    font-size: 16px; /* Adjust the font size as needed for smaller screens */
  }
}

.cta-list {
  padding-top: 5%;
}

.cta {
  padding: 3%;
  font-size: 1rem;
}

.work {
  padding-top: 5%;
  font-size: 1.5rem;
}

.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}



/* CSS */
.button-87 {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  text-decoration: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

.main-about-me {
  height: auto;
}

.previous-experiences {
  text-align: center;
  padding-top: 4%;
  font-weight: 700;
}

.company-image {
  width: 40%;
  padding: 3%;
}

.company-images {
  text-align: center;
}